.spinner {
  width: 48px;
  height: 48px;
  border: 6px solid #d3d3d3;
  border-top: 6px solid #505FA4;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
